version: "3"

services:
  mini-dub-ml-pipeline:
    build: "./"
    container_name: mini-dub-ml-pipeline
    command: "python3 /app/src/main.py"
    ports:
      - "8080:8080"
    volumes:
      - mini-dub-ml-pipeline:/app/src/tmp

volumes:
  mini-dub-ml-pipeline:
