version: "3"

services:
  mini-pipeline:
    build: ./
    command: python3 src/main.py -y
    ports:
      - "8081:8080"
    environment:
      - ENVIRONMENT=development
      - FIREBASE_CERTIFICATE_CONTENT=${FIREBASE_CERTIFICATE_CONTENT}
      - BUCKET_NAME=${BUCKET_NAME}
      - SENTRY_DSN=${SENTRY_DSN}
      - MICROSOFT_TRANSLATOR_API_KEY=${MICROSOFT_TRANSLATOR_API_KEY}
      - MICROSOFT_TRANSLATOR_REGION=${MICROSOFT_TRANSLATOR_REGION}
